.title {
    height: 55px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 50px;
  }
  .filters-container {
    width: 100%;
    height: 45px;
    background-color: #e0e2e0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 425px) {
    .title {
      font-size: 40px;
    }
  }